@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.loginBody{
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(99deg, #FF70A6, #FF9770 40%, #ffd670 73%, #e9ff70);
  display:flex;
  justify-content: center;
  align-items: center;
}
.login{
  background-image: linear-gradient(97deg, #ffd670, #ff9770);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px
}
.loginH1{
  color: white;
  font-size: 9vh;
  font-weight: bolder;
  margin: 20px
}
.loginBtn{
  width: 70%;
  height: 40px; 
  color: white;
  border-style: none;
  border-radius: 2px;
  background-image: radial-gradient(circle at 50%-46%, #737373, #403d39);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  margin-top: 10px
}
.navDivs{
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
  align-items: center
}
.navImgs{
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}
.navH1{
  font-size: 3vw;
  font-weight: bold;
  /* margin-right: 10px */
}
.navH2{
  font-size: 2.5vw
}
.logoutBtn{
  border-style: none;
  border-radius: 1px;
  background-color: #FF9770;
  font-size: 2vh;
  color: white  
  /* background-image: radial-gradient(circle at 50%-46%, #ff9770, #ff7a6e); */
  /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2); */
}
.proAll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilePic{
  height: 120px;
  width: 120px;
  padding: 3px;
  border: solid 2px #ff9770
}
/* box-shadow not working and profile pic not changing size */
.proHead{
  width: 50vw;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh;
  padding: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 13px 15px 0 rgba(0,0,0,0.1), 0 13px 14px 0 (0,0,0,0.2);
}
.profileName{
  font-size: 2vw;
  font-weight: bolder;
  margin-left: 10px
}
.proUser{
  display: flex;
  flex-direction: row;
  align-items: center
}
.btnUpdate{
  color: white;
  border-style: none;
  border-radius: 1px;
  background-image: radial-gradient(circle at 50%-46%, #737373, #403d39);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  width: 90px;
  height: 30px;
  margin-right: 10px
}
.btnCancel{
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% 0, #ffffff, f1eceb);
  border: solid 1px #ccc3c3;
  border-style: none;
  width: 90px;
  height: 30px;
  margin-right: 10px
}
.proBody{
  height: 60vh;
  width: 50vw;
  box-shadow: 0 13px 15px 0 rgba(0,0,0,0.1), 0 13px 14px 0 (0,0,0,0.2);
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px
}
.proInput{
  border-radius: 3px;
  border: solid 1px #ff9770;
  height: 40px;
  width: 180px;
  margin: 5px;
  padding: 4px;
  font-size: 1vw
}
.proSelect{
  height: 40px;
  width: 180px;
  margin: 5px;
  font-size: 1vw;
  border-radius: 3px
}
.profileTitle{
  font-size: 2vh;
  margin: 3px
}